

.details {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 10px;
    text-align: left;
}

.title {
    font-weight: bold;
    color: blueviolet;
    margin-bottom: 5px;
}


.container {
    box-shadow: 10px 10px 5px #ccc;
    border: solid #333333 1p;
    padding: 20px 40px 40px;
    max-width: 640px;
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}

img {
    margin: 20px 30px 0 0;
    width: 150px;
    object-fit: contain;
    align-self: flex-start;
}

.review {
    margin-top: 10px;
    text-align: left;
}

.address1 {
    text-align: left;
}

